'''The goal of this task is to build a neural network model that predicts whether an employee will leave the present company or not depending on various factors. Given a dataset containing historical employee information, the model should predict whether a current employee is likely to leave the company. '''

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import torch
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader
import torch.nn as nn
task_1a_dataframe=pd.read_csv('task_1a_dataset.csv')
task_1a_dataframe.info()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
missing_values=task_1a_dataframe.isnull()  #To check the prensence of a any missing values
print(missing_values.any())

Education                    False
JoiningYear                  False
City                         False
PaymentTier                  False
Age                          False
Gender                       False
EverBenched                  False
ExperienceInCurrentDomain    False
LeaveOrNot                   False
dtype: bool

In [ ]:
task_1a_dataframe.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2012,Bangalore,3,37,Male,No,0,0
1,Masters,2017,New Delhi,2,28,Male,No,4,0
2,Bachelors,2017,New Delhi,2,36,Male,No,3,0
3,Bachelors,2015,Bangalore,3,27,Male,Yes,5,0
4,Bachelors,2017,Bangalore,3,29,Male,No,4,0

In [2]:
#Applying One-hot Enconding
categorical_columns = ['Education', 'City', 'PaymentTier', 'Gender', 'EverBenched']
encoded_dataframe = pd.get_dummies(task_1a_dataframe,columns=categorical_columns,drop_first=True,dtype=int)

NameError: name 'pd' is not defined

In [3]:
#Identifying the features and target
features = encoded_dataframe.columns[:3].tolist()+encoded_dataframe.columns[4:].tolist()
target_label = encoded_dataframe.columns[3]
features_and_targets = [features, target_label]

NameError: name 'encoded_dataframe' is not defined

In [11]:
#Loading as tensor and Splitting the dataset /Creating the Dataloader object for model processing
features, targets = features_and_targets[0], features_and_targets[1]
split_ratio = 0.8
split_index = int(len(encoded_dataframe[features]) * split_ratio)
#Splitting original set into Train and Test set
X_train = encoded_dataframe[features][:split_index]
X_test = encoded_dataframe[features][split_index:]
y_train = encoded_dataframe[targets][:split_index]
y_test = encoded_dataframe[targets][split_index:]
# Convert training and test data to PyTorch tensors
X_train_tensor = torch.tensor(X_train.values, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test.values, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.long)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.long)
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
batch_size = 32
# Create DataLoader objects for training and testing data
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
tensors_and_iterable_training_data=[X_train_tensor,X_test_tensor,y_train_tensor,y_test_tensor,train_loader]

In [17]:
X_train_tensor.shape

torch.Size([3706, 11])

In [28]:
#Neural Network

class Salary_Predictor(nn.Module):
	def __init__(self):
		super(Salary_Predictor, self).__init__()
		'''
		Define the type and number of layers
		'''
		#######	ADD YOUR CODE HERE	#######
		self.fc1 = nn.Linear(40766,250)  # Fully connected layer 1
		self.relu = nn.ReLU()  # Activation function (e.g., ReLU)
		self.fc2 = nn.Linear(250,250)  
		###################################	
	def forward(self, x):
		'''
		Define the activation functions
		'''
		#######	ADD YOUR CODE HERE	#######
		x=self.fc1(x)
		x=self.relu(x)
		x=self.fc2(x)
		predicted_output=x
		###################################

		return predicted_output

In [29]:
loss_function = nn.BCEWithLogitsLoss()
model = Salary_Predictor()
parameters = model.parameters()
optimizer = optim.Adam(parameters, lr=0.001)

# Variables in python

mutable type

l

In [22]:
my_dict ={}
li=[3,3,1,5,3,7,3]
for i in li:
    if i in my_dict:
        my_dict[i]+=1
    else:
        my_dict[i]=1
for key, value in my_dict.items():
    print(f"numbers are {key}, and their counts are: {value}")

numbers are 3, and their counts are: 4
numbers are 1, and their counts are: 1
numbers are 5, and their counts are: 1
numbers are 7, and their counts are: 1

0.0